.fences{
	background-color: $white;
	padding: 40px 0 60px;
	&-title{
		text-align: center;
		margin:30px auto;
	}

}
.textile{
	background-color: $white;
	padding: 40px 0 60px;
	&-title{
		text-align: center;
		margin:30px auto;
	}

} 
.fences .widget-item{
	box-shadow: 0px 7px 13px -10px;
}
