.fences{
	background-color: $white;
	padding: 40px 0 90px;
	&-title{
		text-align: center;
		margin:30px auto;
	}

}
.textile{
	position: relative;
	background-color: $white;
	padding: 60px 0 120px;
	text-align: center;
	background-image: url('/img/bg-tekstil.png');
	background-size: cover;
	&::after{
		position: absolute;
		content:"";
		bottom:0;
		width: 100%;
						border: 70px solid transparent; 
    border-right: 2000px solid #eee;
    border-bottom: 1px solid #eee;
		right: 0;
}
	&-title{
		text-align: center;
		margin:30px auto;
		color: $white;
		font-weight: bold;
	}
	&-text {
				color: #232323;
				font-weight: bold;
				font-size: 130%;
				text-align: justify;
				line-height: 120%;
				width:60%;
				margin: 20px auto;

	}

} 
.fences .widget-item{
	box-shadow: 0px 7px 13px -10px;
}
.btn--textile{
	margin: 0 auto;
}
