.main-footer{
	background-color: $bg-footer;
	padding: 30px 5px 0;
	&__inner{
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
} 
.menu-footer{
		&__link{
		color: #fdfdfd;
	}
}
.footer-copyrigth{
	color: $white;
	padding: 20px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}
