.main-footer{
	background-color: $bg-footer;
	padding: 30px 5px 0;
	&__inner{
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
} 
.menu-footer ul li {
	padding: 5px 10px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	display: inline-flex;
	min-width: 45%;
	margin: 0 20px 10px 0;
}
.menu-footer{
		&__link{
		color: #fdfdfd;

	}
}
.footer-copyrigth{
	color: $white;
	padding: 20px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.footer-contact{
	color:$white;
	margin: 30px auto 20px;
	padding: 10px 10px 10px 30px;
	font-size: 120%;
	&__phone::before{
		background: url(/img/phone.svg);
		transform: rotate(95deg);
		content: "";
		display: block;
		height: 20px;
		position: absolute;
		width: 20px;
		left: 18px;
	}
	&__adress::before{
		background: url(/img/address-card.svg);
		content: "";
		display: block;
		height: 20px;
		position: absolute;
		width: 20px;
		left: 18px;
	}
		&__time::before{
		background: url(/img/clock.svg);
		content: "";
		display: block;
		height: 20px;
		position: absolute;
		width: 20px;
		left: 18px;
	}
		&__mail::before{
		background: url(/img/envelope.svg);
		content: "";
		display: block;
		height: 20px;
		position: absolute;
		width: 20px;
		left: 18px;
	}
}