.main-header{
	padding:0 40px;
	text-align: center;
	position: relative;
	overflow: hidden;
	height: 90vh;
	min-height: 600px;
	&__video{
		width: 100%;
		position: absolute;
		top:-30px;
		left: 0;
		z-index: 1;
		background-size: cover;
	}
	&__title{
		max-width:700px;
		padding: 70px 30px 10px;
		z-index: 3;
		position: relative;
		margin: 70px auto 20px;
		color:$white;
	}
	&__text{
				max-width:700px;
		padding: 10px 30px 50px;
		z-index: 3;
		position: relative;
		margin: 20px auto;
		color:$white;
		font-size: 18px;
	}
	&::after{
		content:"";
		position: absolute;
		width: 100%;
		top:0;
		left:0;
		right:0;
		bottom: 0;
		background-color: rgba(0,0,0,.6);
		z-index: 2;
	}
}
.navbar{
	position: relative;
	z-index: 3;
}
.navbar-contact{
	display: flex;
	flex-direction: column;
	margin: 20px;
	padding: 10px 25px;
}
.navbar-contact__phone{
	color:$white;
	position: relative;
	padding: 6px 5px;
	font-size: 16px;
	&::before{
		content:"";
		display: block;
		height: 25px;
		position: absolute;
		background: url(/img/phone.svg);
		transform: rotate(95deg);
		width: 25px;
	}
}
.navbar-nav{
	margin-left: 20px;
}
.nav-item{
	text-transform: uppercase;
	font-weight: bold;
}