.main-inner{
	padding: 80px 5px 60px;
	&__title{
		text-align: center;
		margin: 15px 0 20px;
	}
} 
.breadcrumb{
	background-color: transparent;
	font-size: 18px;
	border-bottom: 1px solid #232323;
	border-radius: 0;
	&-item a{
	color: #232323;
}
}