.tent{
	padding: 20px 80px 70px;
	border-top: solid 1px $grey-color;
	border-bottom: solid 1px darken($grey-color, 20%);
	background-color: rgb(235,235,235);
	&__title{
		margin-bottom: 20px;
		margin-top: 15px;
	}
}
.tent-title{
	text-align: center;
	padding-bottom:70px;
	margin-top: 10px;
	color: #616161;
}
