.widget-item{
	position: relative;
	border: 1px solid $grey-color;
	padding: 5px;
	border-radius:10px;
	padding-bottom: 30px;
	margin-bottom: 10px;
	text-align: center;
	overflow: hidden;
	&__image{
		max-width: 100%;
		width: 210px;
		height: 170px;
		object-fit:cover;
	}
	&__title{
		margin-bottom: 20px;
		margin-top: 15px;
		font-size: 16px;
	}
} 
.widget-overlay{
	background-color: rgba(0,0,0, 0.6);
	position: absolute;
	z-index: 5;
	top: 0;
	right: 100%;
	bottom:0;
	border-radius:10px;
	left: -100%;
	transition: 400ms ease-out;
	line-height: 250px;
	& a {
		display: inline-block;
		vertical-align: middle;
	}
}
.widget-item:hover .widget-overlay{
		left:0;
		right: 0;
}
.btn-overlay{
	padding: 10px 12px;
	border: 1px solid $white;
	border-radius: 25px
}
.catalog .widget-item{
	transition: 600ms;
	& a{
		color:#232323;
		
	}
	&__title{
		font-size: 18px;
	}
	&__image{
		border-radius:50%;
	}
	&__desc{
		margin: 20px 0;
		& ul {
			padding: 0;
			font-size: 15px;
		}
	}
}
.widget-item__buy, .widget-item__rent {
  background-color: #323232;
  color: $white;
  padding:7px 20px;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  width: 70%;
}
.catalog .widget-item:hover{
	transition:600ms;
	transform: scale(1.2);
	background-color: $white;
	z-index: 4;
}
@media (max-width: $tablet-sm) {
  .widget-item{
  	height: 100%;
	&__image{
		width: 120px;
		height: auto;
	}
  }
  .btn-overlay{
    font-size: 10px;
    padding: 4px 5px;
  }
}